/* app/globals.css */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* your custom overrides, if any */
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  ::selection {
    @apply bg-blue-100 text-black;
  }
  ::-moz-selection {
    @apply bg-blue-100 text-black;
  }
}
