@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  ::selection {
    background-color: #e0f2fe;
    /* color: #1d4ed8; */
  }
  ::-moz-selection {
    background-color: #e0f2fe;
    /* color: #1d4ed8; */
  }
}
